{% extends "layout.html" %}

{% block title %}
    Question 4
{% endblock %}

{% block main %}

        <script>
            function checkMultiChoice(event) {
                let button = event.target;
                let buttons = button.parentElement.querySelectorAll('button');
                
                // Disable all buttons after first click
                buttons.forEach(btn => btn.disabled = true);

                if (button.innerHTML == 'for') {

                    button.style.backgroundColor = 'green';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                } else {
                    button.style.backgroundColor = 'Red';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            }
        </script>
        <div class="mb-3">
            <h1>Question 4</h1>
            <hr>
        <!-- TODO: Add multiple choice question here -->
            <h3>Which loop is ideal when the number of iterations is known?</h3>
            <button onclick="checkMultiChoice(event)">switch</button>
            <button onclick="checkMultiChoice(event)">for</button>
            <button onclick="checkMultiChoice(event)">do-while</button>
            <button onclick="checkMultiChoice(event)">while</button>
            <p class="feedback"></p>
        </div>
    <hr>
    <footer>
        <button onclick="window.location.href='{{ url_for('question3') }}'" class="start-btn"> &larr;Preview</button>
        <button onclick="window.location.href='{{ url_for('question5') }}'" class="start-btn">Next &rarr;</button>
    </footer>
{% endblock %}
