{% extends "layout.html" %}

{% block title %}
    Question 11
{% endblock %}

{% block main %}

        <script>
            function checkMultiChoice(event) {
                let button = event.target;
                let buttons = button.parentElement.querySelectorAll('button');
                
                // Disable all buttons after first click
                buttons.forEach(btn => btn.disabled = true);

                if (button.innerHTML == 'Allocates memory dynamically') {

                    button.style.backgroundColor = 'green';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                } else {
                    button.style.backgroundColor = 'Red';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            }
        </script>
        <div class="mb-3">
            <h1>Question 11</h1>
            <hr>
        <!-- TODO: Add multiple choice question here -->
            <h3>What does <strong>malloc()</strong> do in C?</h3>
            <button onclick="checkMultiChoice(event)">Frees memory</button>
            <button onclick="checkMultiChoice(event)">Reads input</button>
            <button onclick="checkMultiChoice(event)">Prints output</button>
            <button onclick="checkMultiChoice(event)">Allocates memory dynamically</button>
            <p class="feedback"></p>
        </div>
    <hr>
    <footer>
        <button onclick="window.location.href='{{ url_for('question10') }}'" class="start-btn"> &larr;Preview</button>
        <button onclick="window.location.href='{{ url_for('question12') }}'" class="start-btn">Next &rarr;</button>
    </footer>
{% endblock %}
