{% extends "layout.html" %}

{% block title %}
    Question 8
{% endblock %}

{% block main %}

        <script>
            function checkMultiChoice(event) {
                let button = event.target;
                let buttons = button.parentElement.querySelectorAll('button');
                
                // Disable all buttons after first click
                buttons.forEach(btn => btn.disabled = true);

                if (button.innerHTML == 'It calls itself') {

                    button.style.backgroundColor = 'green';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                } else {
                    button.style.backgroundColor = 'Red';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            }
        </script>
        <div class="mb-3">
            <h1>Question 8</h1>
            <hr>
        <!-- TODO: Add multiple choice question here -->
            <h3>What defines a recursive function?</h3>
            <button onclick="checkMultiChoice(event)">It returns multiple values</button>
            <button onclick="checkMultiChoice(event)">It uses loops</button>
            <button onclick="checkMultiChoice(event)">It calls itself</button>
            <button onclick="checkMultiChoice(event)">It runs infinitely</button>
            <p class="feedback"></p>
        </div>
    <hr>
    <footer>
        <button onclick="window.location.href='{{ url_for('question7') }}'" class="start-btn"> &larr;Preview</button>
        <button onclick="window.location.href='{{ url_for('question9') }}'" class="start-btn">Next &rarr;</button>
    </footer>
{% endblock %}
