{% extends "layout.html" %}

{% block title %}
    Question 2
{% endblock %}

{% block main %}

        <script>
            function checkMultiChoice(event) {
                let button = event.target;
                let buttons = button.parentElement.querySelectorAll('button');
                
                // Disable all buttons after first click
                buttons.forEach(btn => btn.disabled = true);

                if (button.innerHTML == 'char') {

                    button.style.backgroundColor = 'green';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                } else {
                    button.style.backgroundColor = 'Red';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            }
        </script>
        <div class="mb-3">
            <h1>Question 2</h1>
            <hr>
        <!-- TODO: Add multiple choice question here -->
            <h3>Which data type is best for storing a single character?</h3>
            <button onclick="checkMultiChoice(event)">int</button>
            <button onclick="checkMultiChoice(event)">float</button>
            <button onclick="checkMultiChoice(event)">char</button>
            <button onclick="checkMultiChoice(event)">double</button>
            <p class="feedback"></p>
        </div>
    <hr>
    <footer>
        <button onclick="window.location.href='{{ url_for('question1') }}'" class="start-btn"> &larr;Preview</button>
        <button onclick="window.location.href='{{ url_for('question3') }}'" class="start-btn">Next &rarr;</button>
    </footer>
{% endblock %}
