{% extends "layout.html" %}

{% block title %}
    Question 7
{% endblock %}

{% block main %}

        <script>
            function checkMultiChoice(event) {
                let button = event.target;
                let buttons = button.parentElement.querySelectorAll('button');
                
                // Disable all buttons after first click
                buttons.forEach(btn => btn.disabled = true);

                if (button.innerHTML == 'O(n^2)') {

                    button.style.backgroundColor = 'green';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                } else {
                    button.style.backgroundColor = 'Red';
                    button.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            }
        </script>
        <div class="mb-3">
            <h1>Question 7</h1>
            <hr>
        <!-- TODO: Add multiple choice question here -->
            <h3>What is the worst-case time complexity of <strong>Bubble Sort</strong>?</h3>
            <button onclick="checkMultiChoice(event)">O(n \log n)</button>
            <button onclick="checkMultiChoice(event)">O(n^2)</button>
            <button onclick="checkMultiChoice(event)">O(n)</button>
            <button onclick="checkMultiChoice(event)">O(1)</button>
            <p class="feedback"></p>
        </div>
    <hr>
    <footer>
        <button onclick="window.location.href='{{ url_for('question6') }}'" class="start-btn"> &larr;Preview</button>
        <button onclick="window.location.href='{{ url_for('question8') }}'" class="start-btn">Next &rarr;</button>
    </footer>
{% endblock %}
